# BLOCK EVERYTHING BY DEFAULT
/*

# ALLOW ONLY THE ESSENTIALS
!/.gitignore
!/README.md
!/LICENSE

# Allow specific documentation folders if they exist
!/docs/

# Ignore dependency lockfiles even if they are in root
package-lock.json
yarn.lock
pnpm-lock.yaml
.vercel
